.dropdown-container {
    background-color: #121212;
    display: flex;
    flex-direction: column;
}

.dropdown-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.dropdown-title {
    font-size: 1rem;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
}

.dropdown-icon {
    aspect-ratio: 1;
    height: 1rem;
    filter: brightness(0) invert(1);
}

.dropdown-button:hover {
    background-color: #bc5e6e;
}
